*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #282A3A;
}
.nav{
    background-color: #000000;
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.nav_ul>li{
    display: inline-block;
    padding-left: 7vw;
    padding-right: 7vw;

}
.nav_ul a{
    text-decoration: none;
    color: white;
}
#rubik{
    height: 5rem;
    padding-right: 1vw;
}
main{
    color: white;
    font-size: 4rem;
}
.big{
    background-color: #735F32;
    min-height: 80vh;
    width: 80vw;
    margin: 0 auto;
    margin-top: 2rem;
    border: solid black 1px;
    border-radius: 2rem;
}
.big>p{
    text-align: justify;
    padding: 2rem;
    padding-top: 3rem;
}
.small{
    background-color: #C69749;
    border: solid black 1px;
    border-radius: 2rem;
    position: relative;
    top: 4.5rem;
    width: 30vw;
    margin:0 auto;
}
.small>p{
    text-align: center;
}
.footer{
    margin-top: 20px;
    background-color: #000000;
    min-height: 4rem;
}
.footer li{
    display: inline-block;
    padding-left: 25vw;
    padding-top: 2rem;
    padding-bottom: 6rem;
}
.footer a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}