*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.container{
    border: 0.3rem solid black;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.box{
    width: 10rem;
    height: 10rem;
}
.box1{
    background-color: antiquewhite;
}
.box2{
    background-color: aqua;
}
.box3{
    background-color:aquamarine;
}
.box4{
    background-color:azure;
}
.box5{
    background-color:blue;
}
.box6{
    background-color:blueviolet;
}