*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
h1{
    color: rgb(202, 171, 171);
    font-family: arial;
    margin-bottom: 10px;
}
.title{
    font-size: 30px;
    font-family: monospace;
}

.nav{
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0px;
}
.nav li{
    display: inline-block;
}
.nav a{

    color: white;
    background-color: rgb(66, 66, 66);
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}
.nav .pago{
    background-color: brown;
}