body{
    background-color: #E5B8F4;
}

.main_nav{
    margin-top:-16px; /*configura el margen superior del elemento */
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 1cm;
    padding-bottom: 1cm;
    padding-left: 0%; /*cambia el margen interior del elemento*/
    /* margin-left: -10px;
    margin-right: -10px; */
    background-color: #C147E9; /*color de fondo*/
    list-style: none; /*define el style de la lista, en esta caso le quita los puntos*/
}
.main_nav_ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    display: inline-block; /* pone una lista en linea y en bloques */
    padding-left: 10%;
}
.main_nav_ul a{
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}
.main_nav_ul a:hover{
    color: black;
    font-size: 102%;
}
.main_nav_ul a:active{
    font-size: 85%;
}
.main_nav_ul a::after{
    content: "  /";
}