.container{
    width: 800px;
    margin:0 auto;
}
.box1{
    width: 50%;
    order: 1;
    height: 15rem;
}
.box1 h1{
    color: black;
    position:static;
}
.box1 img{
    width: auto;
    height: 10rem;
}
.box4{
    width: 100%;
}
.box5{
    width: 50%;
    order: 2;
}
