*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    background-color: rgb(222, 170, 240);

}
body{
    position: relative;
    padding-bottom: 8rem;
    min-height: 100vh;
}
.nav{
    background-color: rgb(45, 3, 59);
    display: flex;
    align-items: center;
    height: 8rem;
}
.nav_img{
    padding: 2rem;
}
.nav_img img{
    height: 6rem;
}
.nav_lista{
    flex-grow: 1;
}
.nav_lista ul{
    list-style:none;
    display: flex;
    justify-content:space-evenly;

}
.nav_lista li a{
    font-size: 2rem;
    text-decoration: none;
    color: white;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.box1, .box2, .box3, .box4, .box5, .box6{
    width: 100%;
    min-width: 150px;
    height: 15rem;
    border: 6px transparent;
}
.box1{
    background-color: rgb(129, 12, 168);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1 img{
    height: 80%;
}
.box2{
    background-color: rgb(193, 71, 233);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    color: black;
    height: auto;
}
.box3{
    background-color: rgb(240, 202, 163);
    display: flex;
    align-items: center;
    height: auto;
}
.box3 p{
    padding: 2rem;
    font-size: 1.6rem;
}
.box4{
    background-color: rgb(229, 184, 244);
    height: auto;
}
.box5{
    background-color: rgb(0, 0, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.box5 img{
    height: 14em;
}
.box5 h1{
    color: white;
    text-align: center;
    padding-left: 1rem;
}
.box6{
    background-color: rgb(59, 24, 95);
    height: auto;
}
.box6 p{
    font-size: 1.6rem;
    padding: 2rem;
    color: white;
}
footer{
    background-color: rgb(45, 3, 59);
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p{
    font-size: 4rem;
    color: white;
}
