.box1{
    width: 25%;
    height: auto;
}
.box1 img{
    width: 30rem;
    height: 30rem;
}
.box1 h1{
    color: transparent;
    position: fixed;
}
.box4{
    width: 75%;
}
.box5{
    width: 100%;
}
